%h1
  %a{:href => "http://support.monkdevelopment.com/admin.php?pg=request&reqid=#{@request}#request-history-note-#{get_reply(@request, @timestamp)}", :target => '_blank'} Reply #{get_reply(@request, @timestamp)}
  was rated "#{@rating}"
